*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: url(./imganes/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.CONTAINER{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: auto auto auto / 1fr;
  grid-template-areas: "header"
                       "areaJuego"
                       "niveles";

}

.header{

  grid-area: header;
  /* color: red; */
  font-family: 'Press Start 2P', cursive; 
  padding: .8em;
  display: flex;
  
  /* flex-direction: column; */
  /* height: 40%; */
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}
.screen{
  color: #e6e6e6;
  padding: .7em .1em;
  border-radius: 1em;
  background: #2d2d2dea;
  /* height: 100%; */
  width: 100%;
  position: relative;
  z-index: 5;
}
.bolas{
  display: none;
}
.header .bolas::before{
  content: url(./imganes/bola.png);
  position: absolute;
    z-index: 4;
    top: -8.5%;
    left: 22%;
    transform: scale(.4)translateX(120%);
    
}
.header .bolas::after{
  content: url(./imganes/bola.png);
  position: absolute;
  z-index: 4;
  top: -8.5%;
  left: 42%;
  transform: scale(.4)translateX(120%);
}
.header p {
  color: #8ac149;
  font-size: 3em;
  margin:  auto;
  margin-top:.3em;

}
.areaJuego{
  grid-area: areaJuego;
  /* border: red 1px solid; */
  width: 40%;
  height: 400px;
  margin: 0 auto;
}
.niveles{
  
  grid-area: niveles;
  /* border: red 1px solid; */
  width: 50%;
  height: 5em;
  /* height: 400px; */
  margin: 0 auto;

  display: grid;
  grid-template: 1fr / repeat(10, 1fr)
}
.nivel{
  background: url(./imganes/estrella.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: .3em;
  cursor: pointer;
}
.nivel.completado{
  background: url(./imganes/estrellaLlena.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: .3em;
  cursor: pointer;
}
.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
  transition: 2s;
}
.gameboard.rotate{
  transform: rotate(180deg)
}
.btn_empezar{
  padding: 1.5em;
  display: block;
  /* height: 2em; */
  font-size: 1.5em;
  background: #dcddd8;
  border: #2d2d2d solid 2px;
  border-radius: 1.5em;
  position: absolute;
  z-index: 100;
  margin: auto;
  visibility: 1;
  line-height: top;
  line-height: 1.9em;
  top: 42%;
    left: 43%;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}
.btn_empezar:active{
  transform: scale(.9)
}


.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
 display: none;
}
@media screen and (max-width: 1024px){
  
  .CONTAINER {
    grid-template: auto auto auto / 1fr;
}
.btn_empezar {
  top: 51%;
  left: 40%;
}
.areaJuego {
  grid-area: areaJuego;
  /* border: red 1px solid; */
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 400px; */
  /* margin: auto; */
}

}
@media screen and (max-width :768px){
  .btn_empezar {
    top: 52%;
    left: 37%;
}
.niveles {
  
  transform: scale(1.8);
  
}
}
@media screen and (max-width :425px){
  .areaJuego {
    grid-area: areaJuego;
    /* border: red 1px solid; */
    width: auto;
    /* height: 400px; */
    margin: 0 auto;
}
.nivel {
  height: 2em;
  transform: scale(1.5);
}
}